// :root {
// 	--primary: #009c68;
// 	--bs-white-rgb: #fff9ec;
// 	--bs-body-color: #fff9ec;
// 	--bs-body-bg: #4d4637;
// 	--bs-dark-rgb: #4d4637;
// 	--bs-card-bg: red;
// 	--bs-card-color: red;
// }

// $white: #4d4637;

// $theme-colors: (
// 	'light': #fff9ec,
// 	'dark': #4d4637,
// 	'primary': #009574,
// 	'secondary': #f1c40f,
// 	'info': #da2048,
// 	'success': #00cea8,
// 	'warning': #f1c40f,
// 	'danger': #fe015f
// );

// $component-active-bg: #009574;
// $nav-link-color: #009574;
// $navbar-dark-active-color: #fff9ec;
// $navbar-dark-brand-color: #fff9ec;
// $body-color: #fff9ec;
// $list-group-color: #fff9ec;
// $list-group-border-color: #fff9ec;
// $link-color: #009574;
// $card-border-color: #fff9ec;
// $input-group-addon-bg: #00cea8;
// $input-group-addon-color: #4d4637;

@import '../node_modules/bootstrap/scss/bootstrap.scss';

// .text-muted {
// 	color: #b3aa99 !important;
// }

// svg {
// 	width: 25px;
// }

body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
}

html {
	height: -webkit-fill-available;
}

main {
	display: flex;
	flex-wrap: nowrap;
	height: 100vh;
	height: -webkit-fill-available;
	max-height: 100vh;
	overflow-x: auto;
	overflow-y: hidden;
}

.b-example-divider {
	flex-shrink: 0;
	width: 1.5rem;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.1);
	border: solid rgba(0, 0, 0, 0.15);
	border-width: 1px 0;
	box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
		inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.bi {
	vertical-align: -0.125em;
	pointer-events: none;
	fill: currentColor;
}

.dropdown-toggle {
	outline: 0;
}

.nav-flush .nav-link {
	border-radius: 0;
}

.btn-toggle {
	display: inline-flex;
	align-items: center;
	padding: 0.25rem 0.5rem;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.65);
	background-color: transparent;
	border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
	color: rgba(0, 0, 0, 0.85);
	background-color: #d2f4ea;
}

.btn-toggle::before {
	width: 1.25em;
	line-height: 0;
	content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
	transition: transform 0.35s ease;
	transform-origin: 0.5em 50%;
}

.btn-toggle[aria-expanded='true'] {
	color: rgba(0, 0, 0, 0.85);
}
.btn-toggle[aria-expanded='true']::before {
	transform: rotate(90deg);
}

.btn-toggle-nav a {
	display: inline-flex;
	padding: 0.1875rem 0.5rem;
	margin-top: 0.125rem;
	margin-left: 1.25rem;
	text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
	background-color: #d2f4ea;
}

.scrollarea {
	overflow-y: auto;
}

.fw-semibold {
	font-weight: 600;
}
.lh-tight {
	line-height: 1.25;
}
